.error-container {
    text-align: 'center';
    padding: 50px;
    font-family: 'Arial; sans-serif';

    background-image: url('../src/assets/images/eerie404.jpg');
    width: auto;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    
.error-code {
    font-size: 72px;
    margin: 0;
}

    
.error-message {
    font-size: 24px;
    margin: 20px 0;
}

    
.error-link {
    font-size: 18px;
    color: rgb(140, 181, 97);
    text-decoration: 'none';
}


