.exercise-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55em;
    margin: 0.8em;
}

.exercise-form {
    display: flex;
    align-items: center;
    justify-content:space-evenly;

    width: 31.5em;
    margin: 0.8em;
    
}

.exercise-form input {
    position: absolute;
    background-color: rgb(161, 64, 155);
    width: 20%;
    height: 100%;
    margin: 0 12em 0 8em;
}

.exercise-btn {
    display: flex;
    align-items: center;
    justify-content: end;

    width: 100%;
    /* max-width: 80vw; */
    border-radius: 120px;
    background-color: #007bff;
    padding: 0 8px;

    height: 60px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.exercise-btn svg {
    margin: 6px 4em 0 0;
}