.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../src/assets/images/soul-body-glow.png');
    width: auto;
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.home-ellipse {
    margin-top: 4em;
    opacity: 0.3;
}

/* .home-ellipse:hover { */
    /* opacity: 0.5; */
/* } */

.home-text-container {
    margin: 4em 0 4px 0;
    padding: 0;

}

.home-text-bold,
.home-text-blend,
.home-text-blendUD {
    font-size: 4.8em;
    margin: 0;

    line-height: 1.1em;
}

.home-text-bold {
    background-image: linear-gradient(to bottom right, rgb(6, 88, 42, 1), rgba(8, 8, 231, 0.609));
    color: transparent;
    background-clip: text;
}


.home-text-blendUD {
    background-image: linear-gradient(to bottom, rgb(89, 191, 133), rgb(77, 77, 168)); 
    color: transparent;
    background-clip: text;
}

.home-text-blend {
    background: linear-gradient(to right, rgb(145, 26, 128), rgb(212, 43, 69));
    color: transparent; 
    background-clip: text;
}

.center-text {
    color: rgb(210, 109, 98, 1);
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 16px;

    margin-bottom: 4em;
}

.home-btn-left,
.home-btn-right {
    font-size: 1em;
    background-color: rgb(151, 2, 151);

}