.journey-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    margin: 0;
    padding: 8px
}

.journey-ellipse {

}

.prom-section-text {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    margin: 0;
    padding: 0;
  
}

.journey-text-bold {
    font-size: 2.8em;
    background: linear-gradient(to bottom, rgba(100, 100, 255, 1), rgba(0, 255, 0, 1));
    color: transparent;
    background-clip: text;
}

.section-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.section-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}