.journey-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0;
    padding: 8px
}


.prom-section-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 58%;
    line-height: 24px;
    margin: 0;
    gap: 10px;
  
}

.journey-text-bold {
    font-size: 2.8em;
    background: linear-gradient(to bottom, rgba(100, 100, 255, 1), rgba(0, 255, 0, 1));
    text-align: start;
    color: transparent;
    background-clip: text;
}

.journey-text {
    display: flex;
    margin: 0;
    width: 100%;
    text-align: start;
    font-size: 1.1em;
}

.section-container {
    display: flex;
    flex-direction: row;
    text-align: start;
    width: 100%;
    height: 10%;
}

.section-container > div {
    margin: 0 8px 0 8px;
   
}

.section-text-container {
    display: flex;
    flex-direction: column;
    line-height: 16px;
    width: 100%   
}

.section-text-container h3 {
    background: linear-gradient(to bottom, rgba(113, 255, 100, 1), rgb(115, 102, 199));
    text-align: start;
    color: transparent;
    background-clip: text;
    font-weight: bold;
}

.ellipse-image {
    transform: rotateZ(90deg);
}

.ellipse-image div + div {
    position: relative;
    bottom: 365px;
    float: left;
    background-color: black;
}

.ellipse-image > div > div img{
    transform: rotateZ(270deg);
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: content-box;
    background-position: center center;

    object-fit: fill;
}