html {
    background-image: url('../src/assets/images/soul-body-glow.png');
    width: auto;
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}