.transform-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 8px;

    background: linear-gradient(to bottom, rgba(125, 90, 90, 0.473), rgba(164, 23, 45, 1));
}

.btn-container {
    margin: 0 0 32px 0;
}

.transform-container h3 {
    background: linear-gradient(to bottom, rgb(100, 255, 157), rgba(115, 102, 199, 1));
    color: transparent;
    background-clip: text;

    margin: 32px 0 0 0;

    font-size: 2.8em;
}

.transform-container p {
    margin: 0 0 8px 0;
}

.transform-container a {
    /* background:rgba(148, 141, 189,1); */
}